.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0D5FF9;
    color: #f8f9fa;
    overflow: auto;
    z-index: 999;
    height: 100vh;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.sidebar.open {
    width: 300px;
    transform: translateX(0);
}

.sidebar.closed {
    width: 0;
    transform: translateX(-100%);
}

@media (min-width: 768px) {
    .sidebar.open {
        position: static !important;
        transform: none !important;
        width: 300px !important;
    }
}

.avatar {
    width: 54px;
    position: relative;
}

.avatar-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 120%;
    right: auto;
    color: red;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.avatar:hover > .avatar-menu {
    display: block;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
    top: 100%;
}

