.auth-back {
  background-image: url('/images/back_auth (1).jpg');
  background-size: cover;
  background-position: center 40%;
  min-height: 100dvh;
  display: grid;
  place-items: center;
  padding: 2rem;

  .auth-glass {
    width: 95%;
    height: 100%;
    padding: 2rem;
    border-radius: 18px;
    background: #CAE3FF1A;
    border: 1px solid rgba(202, 227, 255, 0.1);
    box-shadow: 0 8px 30px rgba(202, 227, 255, 0.5);
    -webkit-backdrop-filter: blur(8px) saturate(120%);
    backdrop-filter: blur(8px) saturate(120%);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: inherit; // fonni nusxa oladi
      filter: blur(6px);
      opacity: 0.9;
      z-index: -1;
      pointer-events: none;
    }

    .login_register_h1{
      text-align: center;
      text-transform: capitalize;
      color: #000000;
      margin-top: 10px;
      font-size: 34px;
      font-weight: 800;
      line-height: 100%;
      @media (max-width: 768px) {
        font-size: 34px;
      }
      @media (max-width: 425px) {
        font-size: 28px;
      }
    }
    .login_register_title {
      margin-bottom: 30px;
      text-align: center;
      text-transform: capitalize;
      color: #000000;
      margin-top: 15px;
      font-size: 18px;
      line-height: 100%;
      font-weight: 400;
    }


  }

  @media (max-width: 768px) {
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
    url('/images/back_auth_top.jpg'),
    url('/images/back_auth_bottom.jpg');
    background-position: top center, top center, bottom center;
    padding: 0rem;

    .auth-glass {
      width: 100%;
      padding: 1rem;
      border-radius: 12px;
      box-shadow: 0 4px 15px rgba(202, 227, 255, 0.4);
      -webkit-backdrop-filter: blur(3px) saturate(110%);
      backdrop-filter: blur(2px) saturate(110%);

      &::before {
        filter: blur(4px);
        opacity: 0.85;
      }
    }
  }
}