.flatpickr-wrapper {
  width: 100%;
}
.flatpickr-input {
  width: 100% !important;
  min-width: 0 !important;
  box-sizing: border-box !important;
  text-align: left !important;
}
.flatpickr-calendar {
  z-index: 999999 !important;
}
