.lesson-bar {
  background-color: #EFF6FF;
  color: #f8f9fa;
  overflow: auto;
  height: 100dvh;
  width: 320px;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  overflow-y: scroll;

  .accordion {
    background: #EFF6FF !important;

    .card {
      background: transparent;
      border: none;
      border-radius: 0;

      .card-header {
        background: transparent;

        button {
          background: transparent;
          border: none;
          outline: none;

          p {
            font-size: 16px;
          }

          h5 {
            text-align: start;
            font-size: 18px;
            font-weight: 700;
          }
        }


      }

      .card-body {
        .lesson-bar-item {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 0.5rem;
          padding: 10px 6px;
          margin-bottom: 1rem;

          svg {
            width: 24px;
            height: 24px;
          }

          p {
            font-size: 14px;
            line-height: 100%;
            margin: 0;
          }

          &.done {
            svg {
              color: var(--bs-primary)
            }
          }

          &.active {
            border-left: 2px solid var(--bs-primary);
            background-color: #E4F1FF;

            svg {
              color: var(--bs-primary)
            }

            p {
              color: var(--bs-primary)
            }
          }

          &.false {
            svg {
              color: var(--bs-secondary)
            }

            p {
              color: var(--bs-secondary)
            }
          }
        }
      }
    }
  }
}


.lesson-actions {
  width: calc(100% - 320px);
  padding: 2rem;

  [data-media-player] {
    border-radius: 20px;
    overflow: hidden;
    background-color: transparent;
    max-width: 100%;
    box-sizing: border-box;
  }

  /* Video iframe yoki provider elementi */
  [data-media-player] iframe,
  [data-media-player] .vds-poster {
    border: 1px solid var(--bs-primary);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
  }

  /* Overlay controls (icons, buttons) */
  [data-media-player] .vds-video-layout,
  [data-media-player] .vds-controls {
    border-radius: 20px;
    padding: 0;
    background-color: transparent;
  }

  /* Optional: hover yoki focus effektlari */
  [data-media-player]:hover {
    border-radius: 20px;
  }
}

