.lesson-bar {
  background-color: #F8FBFF;
  color: #f8f9fa;
  overflow: auto;
  height: 100dvh;
  width: 320px;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  overflow-y: scroll;
  @media(max-width: 1024px) {
    width: 280px;
  }
  @media(max-width: 768px) {
    display: none;
  }

  .accordion {
    background: #F8FBFF !important;

    .card {
      background: transparent;
      border: none;
      border-radius: 0;

      .card-header {
        background: transparent;

        button {
          background: transparent;
          border: none;
          outline: none;

          p {
            font-size: 16px;
          }

          h5 {
            text-align: start;
            font-size: 18px;
            font-weight: 700;
          }
        }


      }

      .card-body {
        .lesson-bar-item {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 0.5rem;
          padding: 10px 6px;
          margin-bottom: 1rem;

          svg {
            width: 24px;
            height: 24px;
          }

          p {
            font-size: 14px;
            line-height: 100%;
            margin: 0;
            @media(max-width: 1024px) {
              font-size: 13px;
              line-height: 14px;
            }
          }

          &.done {
            svg {
              color: var(--bs-primary)
            }
          }

          &.active {
            border-left: 2px solid var(--bs-primary);
            background-color: #E4F1FF;

            svg {
              color: var(--bs-primary)
            }

            p {
              color: var(--bs-primary)
            }
          }

          &.false {
            svg {
              color: var(--bs-secondary)
            }

            p {
              color: var(--bs-secondary)
            }
          }
        }
      }
    }
  }
}


.lesson-actions {
  width: calc(100% - 320px);
  padding: 2rem;
  @media(max-width: 1024px) {
    width: calc(100% - 280px);
    padding: 1.2rem;
  }
  @media(max-width: 768px) {
    width: 100%;
    padding: 0.75rem;
  }

  [data-media-player] {
    border-radius: 20px;
    overflow: hidden;
    background-color: transparent;
    max-width: 100%;
    box-sizing: border-box;
  }

  /* Video iframe yoki provider elementi */
  [data-media-player] iframe,
  [data-media-player] .vds-poster {
    border: 1px solid var(--bs-primary);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: transparent;
  }

  /* Overlay controls (icons, buttons) */
  [data-media-player] .vds-video-layout,
  [data-media-player] .vds-controls {
    border-radius: 20px;
    padding: 0;
    background-color: transparent;
  }

  /* Optional: hover yoki focus effektlari */
  [data-media-player]:hover {
    border-radius: 20px;
  }

  .lesson-actions-bottom {
    .list-group {
      width: 100%;
      border-radius: 28px;
      background: transparent;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      gap: 20px;

      .bg-indicator {
        position: absolute;
        border-radius: 28px;
        background: var(--bs-primary);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
      }

      .list-group-item {
        position: relative;
        display: flex;
        width: 33.3%;
        align-items: center;
        justify-content: center;
        height: 40px;
        border: none;
        background: transparent;
        padding: 0;

        a {
          font-size: 22px;
          font-weight: 600;
          padding: 16px;
          color: var(--bs-secondary) !important;
          position: relative;
          z-index: 2;
          text-align: center;

          &.active {
            color: #fff !important;
          }
        }

      }
    }
  }
}


.lesson-mobile-bar {
  width: 100%;
  height: 34px;
  background: white;
  position: fixed;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.lesson-bar-modal {
  background-color: #F8FBFF;
  color: #f8f9fa;
  overflow: auto;
  height: 100dvh;
  width: 100%;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  overflow-y: scroll;


  .accordion {
    background: #F8FBFF !important;

    .card {
      background: transparent;
      border: none;
      border-radius: 0;

      .card-header {
        background: transparent;

        button {
          background: transparent;
          border: none;
          outline: none;

          p {
            font-size: 16px;
          }

          h5 {
            text-align: start;
            font-size: 18px;
            font-weight: 700;
          }
        }


      }

      .card-body {
        .lesson-bar-item {
          width: 100%;
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 0.5rem;
          padding: 10px 6px;
          margin-bottom: 1rem;

          svg {
            width: 24px;
            height: 24px;
          }

          p {
            font-size: 14px;
            line-height: 100%;
            margin: 0;
            @media(max-width: 1024px) {
              font-size: 13px;
              line-height: 14px;
            }
          }

          &.done {
            svg {
              color: var(--bs-primary)
            }
          }

          &.active {
            border-left: 2px solid var(--bs-primary);
            background-color: #E4F1FF;

            svg {
              color: var(--bs-primary)
            }

            p {
              color: var(--bs-primary)
            }
          }

          &.false {
            svg {
              color: var(--bs-secondary)
            }

            p {
              color: var(--bs-secondary)
            }
          }
        }
      }
    }
  }
}