.mainPage{
  display: flex;
  justify-content: center;
  align-items:start;
  .mainPage-bar{
    width: 375px;
    box-shadow: 0px 0.95px 3.8px 0px rgba(0, 0, 0, 0.1);
    height:300px;
  }
  .mainPage-content{
    width: calc(100% - 375px);
  }
}