.auth-back {
    background-image: url('../../assets/back_auth (1).jpg');
    background-size: cover;
    background-position: center 40%;
    min-height: 100dvh;
    display: grid;
    place-items: center; /* markazlashtirish */
    padding: 2rem;
}

.auth-glass {
    width: 95%;
    height: 100%;
    padding: 2rem;
    border-radius: 18px;
    background: rgba(202, 227, 255, 0.1);

    border: 1px solid rgba(202, 227, 255, 0.1);
    box-shadow: 0 8px 30px rgba(202, 227, 255, 0.5);

    -webkit-backdrop-filter: blur(8px) saturate(120%);
    backdrop-filter: blur(8px) saturate(120%);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-glass::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit; /* shu fondan nusxa oladi */
    filter: blur(6px);
    opacity: 0.9;
    z-index: -1;
    pointer-events: none;
}
.reflection {
    position: absolute;
    width: 300px;
    height: 120px;
    background: inherit;
    background-size: cover;
    transform: translateY(230px) scaleY(-1);
    opacity: 0.25;
    filter: blur(4px);
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0.5), transparent);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,0.5), transparent);
}
@media (max-width: 768px) {
    .auth-back {
        background-repeat: no-repeat, no-repeat;
        background-size: contain, contain;
        background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../../assets/back_auth_top.jpg'), url('../../assets/back_auth_bottom.jpg');
        background-position: top center, top center, bottom center;
        /*background-position: center 50%;*/
        padding: 1rem;
    }

    .auth-glass {
        width: 100%;
        padding: 0;
        border-radius: 12px;
        box-shadow: 0 4px 15px rgba(202, 227, 255, 0.4);
        -webkit-backdrop-filter: blur(3px) saturate(110%);
        backdrop-filter: blur(2px) saturate(110%);
    }

    .auth-glass::before {
        filter: blur(4px);
        opacity: 0.85;
    }
}