/* CSS variables. */
:root {
    --PhoneInput-color--focus: #03b2cb;
    --PhoneInputInternationalIconPhone-opacity: 0.8;
    --PhoneInputInternationalIconGlobe-opacity: 0.65;
    --PhoneInputCountrySelect-marginRight: 0.35em;
    --PhoneInputCountrySelectArrow-width: 0.3em;
    --PhoneInputCountrySelectArrow-marginLeft: var(--PhoneInputCountrySelect-marginRight);
    --PhoneInputCountrySelectArrow-borderWidth: 1px;
    --PhoneInputCountrySelectArrow-opacity: 0.45;
    --PhoneInputCountrySelectArrow-color: currentColor;
    --PhoneInputCountrySelectArrow-color--focus: var(--PhoneInput-color--focus);
    --PhoneInputCountrySelectArrow-transform: rotate(45deg);
    --PhoneInputCountryFlag-aspectRatio: 1.5;
    --PhoneInputCountryFlag-height: 1em;
    --PhoneInputCountryFlag-borderWidth: 1px;
    --PhoneInputCountryFlag-borderColor: rgba(0, 0, 0, 0.5);
    --PhoneInputCountryFlag-borderColor--focus: var(--PhoneInput-color--focus);
    --PhoneInputCountryFlag-backgroundColor--loading: rgba(0, 0, 0, 0.1);
}

.PhoneInput {
    display: flex;
    width: 100%;
    line-height: 1.42857143;
    color: #000000;
    border-radius: 100px;
    background-color: transparent;
    border: 1px solid var(--bs-secondary);
    font-size: 18px;
    height: 54px;
    outline: 0;
    padding: 14px 30px;
    margin-bottom: 0;
    gap: 0.5rem;
}

.PhoneInput--focus {
    border-color: var(--bs-primary);
    background: transparent;
    outline: 0;
}

.PhoneInput::-ms-expand {
    background-color: transparent;
    border: 0;
}

.PhoneInputInput {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.PhoneInputCountryIcon {
    width: calc(var(--PhoneInputCountryFlag-height) * var(--PhoneInputCountryFlag-aspectRatio));
    height: var(--PhoneInputCountryFlag-height);
}

.PhoneInputCountryIcon--square {
    width: var(--PhoneInputCountryFlag-height);
}

.PhoneInputCountryIcon--border {
    background-color: transparent;
}

.PhoneInputCountryIconImg {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.PhoneInputInternationalIconPhone {
    opacity: var(--PhoneInputInternationalIconPhone-opacity);
}

.PhoneInputInternationalIconGlobe {
    opacity: var(--PhoneInputInternationalIconGlobe-opacity);
}

/* Styling native country `<select/>`. */

.PhoneInputCountry {
    position: relative;
    align-self: stretch;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: var(--PhoneInputCountrySelect-marginRight);
}

.PhoneInputCountrySelect {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    border: 0;
    opacity: 0;
    cursor: pointer;
}

.PhoneInputCountrySelect[disabled],
.PhoneInputCountrySelect[readonly] {
    cursor: default;
}

.PhoneInputCountrySelectArrow {
    width: 16px;
    height: 16px;
    background-image: url('/images/arrow-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: -2px;
    opacity: var(--PhoneInputCountrySelectArrow-opacity);
}

.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon + .PhoneInputCountrySelectArrow {
    opacity: 1;
    color: var(--PhoneInputCountrySelectArrow-color--focus);
}

.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon--border {
    box-shadow: 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor--focus),
    inset 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor--focus);
}

.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon .PhoneInputInternationalIconGlobe {
    opacity: 1;
    color: var(--PhoneInputCountrySelectArrow-color--focus);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.otp-input {
    width: 76px;
    height: 70px;
    background-color: transparent;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    outline: 0;
    text-align: center;
    position: relative;
}

/* pastki chiziqcha */
.otp-input::after {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 2px;
    background-color: red;
    border-radius: 2px;
    transition: background-color 0.2s;
}

/* input fokusda yoki to‘ldirilgan bo‘lsa chiziq rangini o‘zgartiradi */
.otp-input:focus {
    border-color: #3b82f6; /* ko‘k border */
}

/*.otp-input:focus::after {*/
/*    background-color: #3b82f6; !* pastki chiziq ham ko‘k *!*/
/*}*/


@media (max-width: 768px) {
    .PhoneInput {
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding: 13px 16px;
        height: 48px;
        gap: 0.5rem;
    }


    .PhoneInputCountryIcon {
        height: 18px;
    }

    .PhoneInputInput {
        width: 100%;
        font-size: 18px;
        font-weight: 400;
        font-size: 18px;
    }

    .otp-input {
        width: 50px;
        height: 50px;
        border-radius: 16px;
        padding: 0;
        text-align: center;
    }
}
@media (max-width: 425px) {
    .otp-input {
        width: 45px;
        height: 45px;
        border-radius: 14px;
        padding: 0;
        text-align: center;
    }
}