.sidebar {
    background-color: #EFF6FF;
    color: #f8f9fa;
    overflow: auto;
    height: 100vh;
    width: 150px;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.sidebar.open {
    width: 150px;
    transform: translateX(0);
}

.sidebar.closed {
    width: 0;
    transform: translateX(-100%);
}

.showSidebar {
    width: 100%;
    /*width: calc(100% - 150px);*/
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 80px;
        left: 0;
        z-index: 999;
        width: 0;
    }

    .sidebar.open {
        width: 200px;
    }

    .showSidebar {
        width: 100%;
    }
}

.avatar {
    width: 44px;
    height: 44px;
    position: relative;
}
