// _courses-cards.scss - Course cards and category styles
.single-course {
    box-shadow: 0 6px 26px rgba(0, 0, 0, 0.03);
    margin-bottom: 30px;
}

.course-img {
    position: relative;
}

.course-img img {
    width: 100%;
    border-radius: 8px;
}

.cprice,
.cstyle-2 .ccategory a {
    display: inline-block;
    color: #fff;
    background: #0D5FF9;
    border-radius: 5px 25px 5px 25px;
    padding: 1px 24px;
    font-size: 17px;
    font-weight: 600;
    position: absolute;
    left: 20px;
    top: 20px;
}

.course_content {
    padding: 30px;
}

.crating i {
    color: #ffb608;
}

.crating {
    margin-bottom: 6px;
}

.course_btm {
    border-top: 1px solid #F5F5F5;
    padding-top: 15px;
    margin-top: 20px;
}

.course_content h2 {
    line-height: 32px;
    margin-bottom: 20px;
}

.course_content h2 a {
    color: #222;
    font-size: 24px;
    transition: .5s;
}

.course_content h2 a:hover,
.course_content h2 a:focus {
    color: #0D5FF9;
}

.cmeta .smeta {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}

.cauthor {
    display: inline-block;
    font-weight: 600;
    color: #222;
}

.ccategory {
    float: right;
}

.ccategory a {
    font-weight: 600;
    color: #0D5FF9;
    font-size: 15px;
}

/* style-2 */
.cstyle-2 .course-img {
    width: 306px;
    height: 277px;
}

.cstyle-2 img {
    width: auto;
    height: 100%;
}

.c_image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}

.cstyle-2 .course_content {
    padding: 25px 10px;
}

.cstyle-2 .course_content h2 {
    margin-bottom: 15px;
}

.cprice-2 {
    float: right;
    color: #0D5FF9;
    padding-right: 13px;
    font-weight: 600;
}

/* Category cards */
.single-category {
    text-align: center;
    margin-bottom: 30px;
    padding: 50px 30px;
    border-radius: 8px;
    transition: .5s;
    border: 2px dashed #E9EEF4;
}

.single-category .icon {
    display: inline-block;
    margin-bottom: 25px;
    width: 72px;
    height: 72px;
    line-height: 72px;
    border-radius: 50%;
    transition: .5s;
    display: inline-block;
    background: #F2F6FA;
}

.single-category svg {
    width: 40px;
    display: inline-block;
}

.single-category svg path {
    fill: #0D5FF9;
}

.single-category:hover .icon {
    background: #0D5FF9;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
}

.single-category:hover .icon path {
    fill: #fff;
}

.single-category h3 a {
    font-size: 24px;
    color: #222;
}

.single-category span {
    text-decoration: underline;
}
