// _global.scss - Global base styles
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap');
@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");

body {
    color: #555;
    font-family: 'Urbanist', sans-serif;
    font-size: 17px;
    line-height: 1.9;
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    font-family: 'Urbanist', sans-serif;
    color: #222;
    font-weight: 700;
}

a {
    color: #444;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #0D5FF9;
}

p {
    margin-bottom: 15px;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

img {
    max-width: 100%;
}

.mb50 {
    margin-bottom: 50px;
}

.pt160 {
    padding-top: 160px !important;
}

.col-30 {
    max-width: 30%;
}

.col-40 {
    max-width: 40%;
}

.section-padding {
    padding: 120px 0;
}

.section-title {
    margin-bottom: 60px;
    position: relative;
    z-index: 1;
}

.section-title span {
    font-weight: 600;
    font-size: 20px;
    color: #0D5FF9;
    display: block;
    margin-bottom: 5px;
}

.section-title h2 {
    font-size: 35px;
}

.white-title h2 {
    color: #fff;
}
