// _search-cart.scss - Header search overlay & cart icon
.searchcart .sicon svg {
    width: 19px;
}

.searchcart .cart-icon svg {
    width: 17px;
}

.searchcart {
    display: inline-block;
    padding-top: 12px;
}

.searchcart .sicon {
    padding-right: 10px;
}

.searchcart .sicon,
.searchcart .cart-icon {
    display: inline-block;
}

.searchcart .cart-icon {
    margin-right: 30px;
    position: relative;
}

.searchcart .cart-icon span {
    position: absolute;
    top: 4px;
    right: -12px;
    color: #fff;
    width: 15px;
    height: 15px;
    line-height: 15px;
    background: #FF4949;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
}

#navigation .white-btn,
#navigation .bg_btn {
    float: right;
}

/* Search overlay */
.search_box.active {
    height: 100%;
    width: 100%;
}

.search_box {
    position: fixed;
    height: 0px;
    width: 0px;
    background: #0F2B5A;
    transition: .5s;
    z-index: 99;
    display: flex;
    left: 0;
    top: 0;
}

.search-data {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-data {
    position: absolute;
    height: 50px;
    width: 400px;
    display: flex;
    text-align: center;
}

.search-data input {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin-top: 7px;
}

.search-data .line {
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.4s 0.3s linear;
}

.search-data .line.active {
    transform: scaleX(1);
}

.search-data label {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 17px;
    transform: translateY(-50%);
    pointer-events: none;
    color: rgba(255, 255, 255, 0.7);
}

.search-data input:valid ~ label {
    opacity: 0;
}

.search-data button {
    color: #fff;
    position: absolute;
    font-size: 17px;
    right: 0;
    top: 0;
    line-height: 57px;
    cursor: pointer;
    border: 1px solid transparent;
    background: transparent;
}

.close-btn {
    position: absolute;
    z-index: 99;
    right: 25px;
    top: 25px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.search-data, .search-data span,
.search-data label, .close-btn {
    display: none;
}
