// _video-faq-review.scss - Video area, FAQ and reviews
.video-area {
    position: relative;
    z-index: 1;
}

.video-area::after {
    content: '';
    position: absolute;
    background-image: url(../img/shapes/video.svg);
    width: 991px;
    height: 522px;
    background-repeat: no-repeat;
    bottom: -80px;
    right: -127px;
    z-index: -1;
}

.vbtn {
    position: absolute;
    top: 50%;
    left: 50%;
    background: transparent;
    transform: translate(-50%, -50%);
}

/* FAQ */
.faq .section-title {
    margin-bottom: 50px;
}

.accordion-item {
    margin-bottom: 30px;
    border: none;
    color: #444;
    border: 1px solid #E9E9E9 !important;
    border-radius: 5px;
}

.accordion-item .accordion-body {
    padding: 25px;
}

.accordion-button {
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    color: #222;
    padding: 7px 20px;
}

.accordion-button:not(.collapsed) {
    background: #0D5FF9;
    border: 1px solid #0D5FF9 !important;
    box-shadow: inherit;
    color: #fff;
}

.accordion-button::after {
    color: #fff;
    background: none;
    content: "\ea53";
    font-family: boxicons !important;
    line-height: 19px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    background: #0D5FF9;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.accordion-button:not(.collapsed)::after {
    color: #444;
    background: none;
    content: "\ea53";
    font-family: boxicons !important;
    line-height: 19px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    background: #fff;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

/* Review */
.review {
    background: linear-gradient(148deg, rgba(2, 0, 36, 0.7848273098301821) 0%, rgba(13, 95, 249, 0.9697012594100141) 100%);
    width: 100%;
    position: relative;
}

.review .section-title span,
.review .section-title h2 {
    color: #fff;
}

.review-item {
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 6px 26px rgba(0, 0, 0, 0.04);
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
}

.owl-item.active.center .review-item {
    background: #fff;
    color: #555;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}
